<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <ion-item>
            <ion-icon slot="start" name="mail"></ion-icon>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="email.touched && email.hasError('required')">
            *Por favor ingrese un correo electrónico
        </div>
        <div class="error-message" *ngIf="email.hasError('pattern')">
            *Ingrese un correo electrónico válido
        </div>
        <ion-item>
            <ion-icon slot="start" name="lock"></ion-icon>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="error-message" *ngIf="password.touched && password.hasError('required')">
            *Por favor ingrese una contraseña
        </div>
        <div class="error-message" *ngIf="password.hasError('pattern')">
            *La contraseña debe contener al menos una MAYÚSCULA, una minúscula y un número
        </div>
        <div class="error-message" *ngIf="password.hasError('minlength')">
            *La contraseña debe contener 6 caracteres como mínimo
        </div>
        <div class="error-message" *ngIf="password.hasError('maxlength')">
            *La contraseña no debe exceder los 25 caracteres
        </div>
        <ion-button type="submit" [disabled]="!signUpForm.valid">Registrarse</ion-button>
    </form>
</ion-content>