<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="auth.user$ | async as user">
  <h1>{{ user.displayName }}</h1>
  <ion-avatar>
    <img [src]="user.photoURL">
  </ion-avatar>
  <pre>
    {{ user | json }}
  </pre>
  <input type="file" (change)="uploadFile($event)">
  <ion-button (click)="logout()">Cerrar Sesion</ion-button>
  
</ion-content>
