<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="club$ | async as club">
    <ion-text color="primary"><h1 text-center>{{ club.name }}</h1></ion-text>
    <ion-text color="secondary"><h3 color="secondary" text-center>{{ club.website }}</h3></ion-text>
  <h3 text-center>Próximos eventos</h3>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="6" side-md="4" size-lg="3" *ngFor="let event of events$ | async" [routerLink]="['/evento', event.id]">
          <ion-card>
              <img [src]="event.imageUrl">
              <ion-card-content>
                <ion-card-title text-center>
                  {{ event.title }}
                </ion-card-title>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h4 text-center> RRPP Oficial: {{ club.rrpp_name }}</h4>
  <h5 text-center> <ion-icon name="call"></ion-icon> {{ club.rrpp_tel }} </h5>
</ion-content>