<ion-header>
  <ion-toolbar>
    <ion-title>Complete el perfil del club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none" text-center>
    <ion-label>Seleccione la ubicación en el mapa</ion-label>
  </ion-item>
  <app-ionic-map></app-ionic-map>
  <ion-button (click)="takePicture()">Subir foto de portada</ion-button>
  <form [formGroup]="completeProfileForm" (ngSubmit)="completeProfile()">
    <ion-item>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="locate"></ion-icon>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="at"></ion-icon>
      <ion-label position="floating">Sitio Web</ion-label>
      <ion-input type="text" formControlName="website"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!completeProfileForm.valid">Finalizar perfil</ion-button>
  </form>
</ion-content>