<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Complete el perfil del club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none" text-center>
    <ion-label>PASO 1: Seleccione la ubicación en el mapa</ion-label>
  </ion-item>
  <app-ionic-map></app-ionic-map>

  <ion-item lines="none" text-center>
    <ion-label>PASO 2: Suba una foto de portada</ion-label>
  </ion-item>
  <input type="file" id="file" (change)="uploadFile($event)" accept=".png, .jpg" class="inputFile">
  <div>{{ uploadPercent | async }}</div>

  <ion-item lines="none" text-center>
    <ion-label>PASO 3: Complete los campos del siguiente formulario (*todos requeridos)</ion-label>
  </ion-item>
  <form [formGroup]="completeProfileForm" (ngSubmit)="completeProfile()">
    <ion-item>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="locate"></ion-icon>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="at"></ion-icon>
      <ion-label position="floating">Sitio Web</ion-label>
      <ion-input type="text" formControlName="website"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="contact"></ion-icon>
      <ion-label position="floating">Contacto</ion-label>
      <ion-input type="text" formControlName="rrpp_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-label position="floating">Teléfono particular</ion-label>
      <ion-input type="text" formControlName="rrpp_tel"></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!completeProfileForm.valid">Finalizar perfil</ion-button>
  </form>
</ion-content>