<ion-header>
  <ion-toolbar>
    <ion-title>Complete su perfil</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content padding>
  <ion-avatar (click)="auth.selectImage()">
      <img src="https://img.icons8.com/material/24/000000/user.png">
  </ion-avatar>
  <ion-label>Agrega una foto</ion-label>
  <form [formGroup]="completeProfileForm" (ngSubmit)="completeProfile()">
    <ion-item>
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" formControlName="displayName"></ion-input>
    </ion-item>
  </form>
  <ion-button type="submit" [disabled]="!completeProfileForm.valid">Completar perfil</ion-button>
</ion-content>