<ion-header>
  <ion-toolbar>
    <ion-title>admin-dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <table>
    <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Género</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events$ | async">
        <td>{{ event.title }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.date }}</td>
        <td>{{ event.genres }}</td>
        <td>
          <ion-icon name="create"></ion-icon>
          <ion-icon name="trash"></ion-icon>
        </td>
      </tr>
    </tbody>
  </table>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/agregar-evento']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
