<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!event">Crear nuevo evento</ion-title>
    <ion-title *ngIf="event">Actualizar: {{ event.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="eventForm" (ngSubmit)="createEvent()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea type="text" formControlName="description" rows="4"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" picker-format="DD MMM YY" monthShortNames="ENE, FEB, MAR, ABR, MAY, JUN, JUL, AGO, SEP, OCT, NOV, DIC"
        formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Género</ion-label>
      <ion-select placeholder="Seleccione uno" formControlName="genre">
        <ion-select-option value="Electronica">Electrónica</ion-select-option>
        <ion-select-option value="Rock">Rock</ion-select-option>
        <ion-select-option value="Pop">Pop</ion-select-option>
        <ion-select-option value="Reggae">Reggae</ion-select-option>
        <ion-select-option value="Punk">Punk</ion-select-option>
        <ion-select-option value="Otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tickets URL</ion-label>
      <ion-input type="text" formControlName="ticket"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!eventForm.valid">{{ event ? 'Actualizar' : 'Crear' }}</ion-button>
  </form>
</ion-content>