<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="event$ | async as event">
    <img [src]="event.imageUrl">
    <ion-card-header>
      <ion-card-title>{{ event.title }}</ion-card-title>
      <ion-card-subtitle>{{ event.genre }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{ event.description }}
    </ion-card-content>
  </ion-card>
</ion-content>