<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="event$ | async as event">
    <img [src]="event.imageUrl">
    <ion-card-header>
      <ion-card-title>{{ event.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ event.description }}
      <ion-button color="primary" href="{{event.ticket}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;">
        Comprar Entrada</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>