<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-info-window>Tu posición</agm-info-window>
    </agm-marker>
    <agm-marker *ngFor="let club of clubs$ | async" [latitude]="club.latitude" [longitude]="club.longitude">
      <agm-snazzy-info-window [closeWhenOthersOpen]="true">
        <ng-template>
          <img [src]="club.imageUrl">
          <h1>{{ club.name }}</h1>
          {{ club.address }}
          <p>{{ club.website }}</p>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</ion-content>

